
#achievementmtadd { width:98%; }
#achievementmtadd table { width:100%; }
#achievementmtadd table tr { height:60px; }
#achievementmtadd table tr td { border-bottom:1px dotted #CBE9F3; width:400px;}