
#financeinterface { width:98%; }
#financeinterface table { width:100%; }
#financeinterface table tr { height:60px; }
#financeinterface table tr td { border-bottom:1px dotted #CBE9F3; width:400px;}