
#studentmanagement { width:98%; }
#studentmanagementtop { margin-top:10px; width:100%; height:123px; }
#studentmanagementtop table { width:700px; float:left; }
#studentmanagementtop table tr { height:35px; }
#submit { padding-top:20px; }
#submits { margin-top:35px; }
.studentaddsub { margin-left:20px; }

#tablecontent { width:100%; }
.tablecontentsub { float:left; }
.tablecontentpage { float:right; margin-top:12px; }


table, tr, td { border:0px solid #000;; }
