
#teachercurriculuminterface { width:98%; }
#teachercurriculuminterface table { width:100%; }
#teachercurriculuminterface table tr { height:60px; }
#teachercurriculuminterface table tr td { border-bottom:1px dotted #CBE9F3; width:400px;}